*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
		font-family: 'Poppins', sans-serif;
}

body{
	font-famnily: 'Poppins',sans-serif;
	}

h1,h2 {
	font-family: sans-serif;
	font-weight: 400;
	}

a{
	text-decoration: none;
}

li {
	list-style: none;
	}

.flex {
 display: flex;
	}

.flex_space{
	display: flex;
	justify-content: space-between;
	}

button{
	border: none;
	background: none;
	outline: none;
	transition: 0.5s;
	cursor: pointer;
	}

.primary_btn{
	padding: 15px 40px;
	background: #3200FF;
	border: 2px solid white;
	font-weight: bold;
	color: white;
	}
.primary_btn:hover{
	border: 1px solid #0000FF;
	background: #0000FF;
	transition: 1s;
	}


.secondary_btn{
	padding: 15px 40px;
	background: none;
	border: 2px solid white;
	font-weight: bold;
	color: white;
	}

.container{
	max-width: 85%;
	margin: auto;
	}

/*---------header----------------------------*/


header{
	height: 10vh;
	line-height: 10vh;
	padding: 0 20px;
		background: #282834;
		
	color: #b5b7b9;
	}

header img{
	margin: 20px 0;
	}
	
header ul li{
	display: inline-block;
	text-transformation: uppercase;
	}

header ul li a{
	color: #fff;
	margin: 0 10px;
	transition: 0.5s;
	}
header ul li a:hover{
	color:#0085FF;
	}

header i{
	margin: 0 20px;
	}
	
header button {
	padding: 13px 40px;
	}

header .navlinks span{
	display: none; 

	}

/* ---media query @ 8.01----*/
@media only screen and (max-width:768px) {
	header ul {
		position: absolute;
		top: 100px;
		left: 0;
		width: 100%;
		height: 100vh;
		background: #1E95FF;
		overflow: hidden;
		transition: max-height 0.5s;
		text-align: center;
		z-index: 9;
		}
	header ul li {
		display: block;
		}
	header li a {
		color: white;
		}
	header i {
		color: white;
		}
	header .navlinks span {
		color: white;
		display: block;
		cursor: pointer;
		line-height: 10vh;
		font-size: 35px;
		}
}
 
/*---------header end ----------------------------*/

/*---------home----------------------------*/
.home {
	height: 100vh;
	color: #fff;
	}

.home img{
	max-width: 100%;
	height: 100vh;
	opacity: 0.9;
	}
.home .text {
	position: absolute;
	top: 35%;
	left: 5%
	}
.home  .text h1 {
	font-size: 80px;
	font-family: serif;
	font-weight: 400;
	}
.home p {
	margin: 20px 0;
	}



.owl-nav .owl-prev,
.owl-nav .owl-next {
	position: absolute;
	top: 40%;
	height: 50px;
	width: 50px;
	background: rgba(0,0,0,0.5) !important;
	color: #fff;
	}

.owl-nav .owl-prev {
	left: 0;
	}

.owl-nav .owl-next {
	right: 0;
	}

.grid {
	display: grid;
	grid-template-columns: repeat(5,1fr);
	grid-gap: 20px;
	}

input {
	outline: none;
	border: none;
	width: 100%;
	}
/*---------home end----------------------------*/
/*---------book ----------------------------*/	

.grid {
	display: grid;
	grid-template-columns: repeat(5,1fr);
	grid-gap: 20px;
}
input{
	outline: none;
	border: none;
	width: 100%;
}

.book {
	padding: 40px 0;
	background: #282834;
	color: #fff;
	}

h1 {
	font-family: serif;
	}
	
.book h1 {
	font-size: 28px;
	}

.book h1 span {
	color: #0085FF;
	}
.book input {
	padding: 20px;
	}

.book input:nth-last-child(1){
	background: #0085FF;
	color: #fff;
	}
/*---------book end----------------------------*/

/*---------about----------------------------*/

.left,.right {
	width: 50%;
	}
.top {
	margin-top: 80px;
	}
.mtop {
	margin-top: 40px;
	}
	
.heading h1 {
	font-size: 100px;
	font-weight: 500;
	opacity: 0.1;
	font-family: serif;
	position: absolute;
	top: -30px;
	}
	

.heading h2 {
	font-size: 45px;
	font-weight: 400;
	font-family: serif;
	margin: 30px 0;
	}
	
.about .heading h1 {
	top: 30px;
	}

.about {
	position: relative;
	}

.about .left{
	margin-top: 30px;
	}
.about img{

  max-width: 100%;
  height: 95%;
	}
.about p {
	font-size: 15px;
	}
.about button {
	margin: 30px 0;
	}

/*---------about end----------------------------*/
/*---------Counter----------------------------*/
.counter {
	background-image: url("./images/countryinn/rooms-hp.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	height: 30vh;
	width: 100%;
	color: #fff;
	}
.counter .grid {
	grid-template-columns: repeat(4,1fr);
	text-align: center;
	place-items: center;
	padding-top: 60px;
	}
.counter h1{
	font-size: 50px;
	}

.counter hr {
	width: 50%;
	margin: 10px auto;
	background: #ED6334;
	height: 2px;
	border: none;
	
	}
/*---------Counter end----------------------------*/
/*---------Room----------------------------*/

.rooms{
	position: relative;
	}
.rooms text{
	border: 1px solid rgba(255,0,0,0.1);
	border-top: none;
	padding: 30px;
	}
.rooms i {
	font-size: 12px;
	color: #fbb234;
	margin: 15px 0;
	maring-right: 5px;
	}
	
.rooms p {
	margin: 20px 0;
	opacity: 0.7;
	}
.rooms h3 {
	font-size: 30px;
	line-height: 20px;
	margin-left: 20px;
	font-weight: 500;
	color:#1E95FF;
	}
.rooms h3 span {
	font-size: 15px;
	font-weight: 400;
	color: #000;
	}
.owl-nav .owl-prev,
.owl-nav .owl-next {
	position: absolute;
	top: -20%;
	height: 50px;
	width: 50px;
	background: #1E95FF !important;
	color: #fff;
	}

.owl-nav .owl-prev i,
.owl-nav .owl-next i {

	color: #fff;
	}
	
.owl-nav .owl-prev {
	left: 90%;
	}

.owl-nav .owl-next {
	right: 0;
	}
/*---------Room end----------------------------*/

/*---------Gallery----------------------------*/

.gallery {
	position: relative;
	}

.gallery img {
	width: 100%;
	height: 100%;
	}
.gallery .img {
	position: relative;
	}
.gallery .img::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	background: rgba(126,193,65,0.85);
	width: 255px;
	height: 251px;
	z-index: 2;
	opacity: 0;
	transition: 0.5s;
	}

.overlay {
	position: absolute;
	top: 35%;
	left: 25%;
	z-index: 3;
	text-align: center;
	color: white;
	opacity: 0; 
	transition: 0.5s;
	
	}

.gallery span {
	width: 50px;
	height: 50px;
	line-height: 50px;
	border-radius: 50%;
	text-align: center;
	border: 2px solid white;
	
	}
	.overlay h3{
	margin-top: 20px;
	font-weight: 500;
	}

.gallery .items:hover .overlay,
.gallery .items:hover .img::after {
	opacity: 1;
	cursor: pointer;
	
}

.gallery .owl-nav .owl-prev ,
.gallery .owl-nav .owl-next  {

	top: -40%;
	}
	
.gallery .owl-nav .owl-prev {
	left: 95%;
	}

.gallery .owl-nav .owl-next {
	right: 5%;
	}
/*---------Gallery end----------------------------*/


/*---------Visiting end----------------------------*/
.service {
	position: relative;
	}
.grid2 {
	display: grid;
	grid-template-columns: repeat(2,1fr);
	grid-gap: 30px
	}
	
.service .left {
	padding: 30px 0;
	}
	
.service .box {
	border: 1px solid rgba(0,0,0,0.1);
	text-align: center;
	transition: 0.5s;
	padding: 20px;
	
	}
.service .box .text {
	padding: 30px 0;
	border: 1px dashed #fff;
	}
.service i {
	font-size: 50px;
	color: #1E95FF;
	transition: 0.5s;
	}
.service h3 {
	font-size: 20px;
	font-weight: 400;
	margin-top: 20px;
	transition: 0.5s;
	}
.service img {
	width: 100%;
	height: 100%;
	}

.service .box:hover{
	background: #1E95FF;
	color: #fff;
	cursor: pointer;
	}
.service .box:hover i,
.service .box:hover h3 {
	color: #fff;
	}
/*---------Visiting end----------------------------*/

/*---------Review----------------------------*/

.Customer {
	background-color: black;
	opacity: .9;
	height: 50vh;
	color: #fff;
	text-align: center;
	
	}

.Customer container {
	max-width: 76%;
	}

.Customer .item {
	padding: 10% 0;
	}

.Customer i {
	width: 100px;
	height: 100px;
	background: #1E95FF;
		opacity: .9;
	line-height: 100px;
	border-radius: 50%;
	margin-bottom: 50px;
	color: #fff;
	}
.Customer p {
	line-height: 30px;
	}
.Customer h3 {
	margin-top: 20px;
	color: #1E95FF;
	}
.Customer span {
	font-size: 15px;
	}

.owl-carousel2 .owl-dots {
	position: absolute;
	bottom: 90px;
	left: 46.6%;
	}

.owl-carousel2 .owl-dots i {
	color: #1E95FF;
	}
.owl-carousel2 .owl-dots i:hover button {
	color: #1E95FF !important;
	}
.owl-carousel2  span {
	border: 2px solid #fff;
	background: transparent !important;
	
	}
.owl-carousel2  .active span {
	background: #1E95FF !important;
	border: 2px solid #1E95FF;
}

/*---------Review end----------------------------*/


/*---------News----------------------------*/
.news {
	position: relative;
	}
.news i {
	color: #1E95FF;
	text-transform: capitalize;
	font-size: 18px;
	}

.news label {
	margin-top: 12px;
	margin-right: 20px;
	
	}
	
.news .left {
	padding: 30px 0;
	width: 65%;
	}
.news .right {
	width: 35%;
	}	
.news img {
	width: 100%;
	}
.news .items p {
	padding-top: 20px;
	border-top: 1px solid rgba(0,0,0,0.5);
	}
.news .box {
		border-BOTTOM: 1px solid rgba(0,0,0,0.5);
		padding: 40px 0;
		}
	
.news .box:nth-child(1) {
	padding-top: 0;
	}

.news .box:nth-last-child(1) {
	border-bottom: none;
	}
.news .box img {
	width: 110px;
	height: 114px;
	}
.news .stext {
	padding: 0 0 0 20px;}


/*---------News end----------------------------*/
/*---------Footer----------------------------*/

footer {
	background: #282834;
	color: #b5b7b9;
	padding: 5% 0 5% 0;
	}
footer .grid {
	grid-template-columns: 3fr 3fr 3fr 3fr ;
	}

footer .icon i {
	margin: 20px 20px 20px 0;
	color: #b6b7b9;
	
	}
footer h2 {
	color: #fff;
	margin-bottom: 10px;
	}
footer li {
	margin-bottom: 20px;
	}
footer i {
	font-size: 10px;
	}
footer img {
	max-height: 50%;
	max-width: 75%;
	}
/*---------Footer end----------------------------*/

@media only screen and (max-width:768px) {
	.home {
		color: #fff;
		height: 50vh;
	}
	.home img {
		width: 100%;
		height: 50vh;
		}
		.left, .right {
		width: 100%
		}
		.book h1 {
			margin-bottom: 20px;
		}
		.container.flex,
		.book .flex_space {
			flex-direction: column;
			}
		.book .grid {
			grid-template-columns: repeat(3,1fr);
			}
		.counter .grid {
			grid-template-columns: repeat(2,1fr);
			}
		.owl-carousel .owl-nav .owl-prev {
			left: 50%;
			}
				.owl-carousel .owl-nav .owl-next {
			left: 60%;
			}
		.gallery .owl-nav .owl-prev {
			left: 75%;
			}
		.rooms .owl-nav .owl-prev  {
			top: -45%;
			left: 90%;
			}
		.rooms .owl-nav .owl-next  {
			top: -45%;
			left: 80%;
			}
		.gallery .owl-nav .owl-prev ,
		.gallery .owl-nav .owl-next  {
			top: -110%;
			}
		.service .flex_space {
			flex-direction: column;
			}
		.Customer {
			height: 60vh;
			}
		.Customer .container {
			max-width: 70%;
			}
			
		.owl-carousel2 .owl-dots {
			bottom: 0;
			left: 43.5%;
			}
		.news .content.flex {
			flex-direction: column;
			}
		.news .left {
			padding: 30px;
			width: 100%;
			}
				.news .right {

			width: 100%;
			}
		footer .grid {
			grid-template-columns: repeat(1,1fr);
			}
}
